.logo {
    display: flex;
    font-size: 30px;
}

.logo-img {
    margin-right: 10px;
}

.logo-p {
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
}

